appnope
backcall
certifi
chardet
cycler
decorator
future
gym
idna
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pyglet
Pygments
pyparsing
python-dateutil
pytz
requests
simplegeneric
six
torch
traitlets
urllib3
wcwidth
black
isort
flake8
flake8-black
gymnasium
ipykernel
jupyter
jupyterlab
pip-tools
pre-commit